* {
    margin: 0;
    padding: 0;
}
header, nav, main, aside, section, article, footer, div {
    display: block;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

main {
    background-color: #2E2C2C;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    background-color: #444;
    color: #fff;
    text-align: center;
    height: 52px;
    padding: 0px 64px 0px 40px;
}

#logo {
    display: block;
    background: url("../images/Logo.png") no-repeat;
    height: 48px;
    width: 168px;
    margin-right: 32px;
}

#header_navigation {
    display: flex;
}

.main_navigation {
    justify-content: flex-start;
}

.main_navigation a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 162px;
    height: 52px;
    text-align: center;
    font-family: Lora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_navigation a:not(.active_nav) {
    color: rgba(255, 255, 255, 0.5);
}

.main_navigation a:not(.active_nav):hover {
    background-color: #524f4f;
    color: rgba(255, 255, 255, 0.75);;
}

.active_nav {
    background-color: #2E2C2C;
    color: #fff;
}

#wrapper {
    margin: 0 40px;
    min-height: calc(100vh - 52px);
    padding-top: 9px;
}

#breadCrumb {
    --bs-breadcrumb-divider: '>';
}

ol.breadcrumb {
    margin-bottom: 0px;
}

.breadcrumb-item a, .breadcrumb-item.active, .breadcrumb-item.active::before{
    display: block;
    height: 18px;
    color: #ffffffa5 !important;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

.breadcrumb-item.active::before {
    color: #FFF !important;
    font-weight: 700;
    font-size: 14px;
}

/* media query */
@media screen and (max-width: 1030px) {
    #header_navigation {
        display: none;
    }
    #breadCrumb {
        display: none;
    }
}