* {
    margin: 0;
    padding: 0;
}
header, nav, main, aside, section, article, footer, div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main {
    background-color: #2E2C2C;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #444;
}

#top_bar {
    display: flex;
    justify-content: flex-start;
    background-color: #444;
    color: #fff;
    text-align: center;
    height: 52px;
    padding: 0px 32px 0px 32px;
}

#logo {
    display: block;
    background: url("../images/Logo.png") no-repeat;
    height: 48px;
    width: 168px;
    margin-right: 32px;
}

#top_bar nav {
    display: flex;
}

#responsive_top_bar {
    display: none;
    width: 100%;
    background-color: #444;
    color: #fff;
    text-align: center;
    height: 52px;
}

#responsive_top_bar nav {
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

header nav a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 162px;
    height: 52px;
    text-align: center;
    font-family: Lora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav a:not(.active_nav) {
    color: rgba(255, 255, 255, 0.5);
}

header nav a:not(.active_nav):hover {
    background-color: #524f4f;
    color: rgba(255, 255, 255, 0.75);;
}

.active_nav {
    background-color: #2E2C2C;
    color: #fff;
}

#notification_bell {
    width: 18px;
    height: 21px;
    margin: auto 16px auto auto;
    justify-self: end;
}

#user_details {
    display: flex;
    align-items: center;
}

#user_details_image {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    margin-right: 12px;
}

#user_details > section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#user_details > section span  {
    color: #FFF;
    text-align: center;
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#user_details > section span:nth-child(3) {
    font-size: 16px;
}

#user_details > section img {
    margin: 0 2px;
}

#user_details_rank {
    font-size: 14px;
}

#user_details_token {
    margin-left: 2px;
    font-size: 14px;
}

#user_details > section > section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#user_details .progress {
    height: 4px;
    width: 52px;
    margin-bottom: 4px;
    background-color: #AAAAAA;
}

/* Main */
#wrapper {
    margin: 0 40px;
    min-height: calc(100vh - 52px);
    padding: 12px 0px;
}

#breadCrumb {
    --bs-breadcrumb-divider: '>';
}

ol.breadcrumb {
    margin-bottom: 0px;
}

.breadcrumb-item a, .breadcrumb-item.active, .breadcrumb-item.active::before{
    display: block;
    height: 18px;
    color: #ffffffa5 !important;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

.breadcrumb-item.active::before {
    color: #FFF !important;
    font-weight: 700;
    font-size: 14px;
}

#container_object_details {
    position: absolute;
}

#container_object_details section {
    display: flex;
    align-items: center;
}

#container_object_details section #collaboration_title {
    color: #FFF;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 16px;
}

#container_object_details section img {
    width: 35px;
    height: 35px;
    color: #FFF;
    font-size: 8px;
    margin-right: 4px;
}

#container_object_details #collaboration_status {
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

#container_object_details .progress {
    height: 16px;
    width: 80px;
}

#container_object_details .progress .progress-bar {
    color: #000;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#container_object_details #collaboration_upvotes_downvotes {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 110px;
}

#container_object_details #collaboration_upvotes_downvotes img {
    height: 16px;
    width: 16px;
}

#container_object_details #collaboration_upvotes_downvotes span {
    color: #FFF;
    text-align: center;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container_object_details #collaboration_co_writers img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid;
}

#container_object_details #collaboration_co_writers img:last-child {
    margin-right: 0;
}

#container_edit_mode, #container_paragraphs {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

#container_edit_mode {
    margin-top: 144px;
}

#collaboration_edit_delete {
    display: flex;
    align-self: flex-end;
}

#container_edit_mode img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 5px;
}

#container_edit_mode hr, #edit_logs hr{
    display: block;
    border: 1px solid;
    margin: 0px 0px 2px 0px;
    border-color: #FFF;
}

#container_paragraphs .paragraph{
    padding: 4px 14px 21px 6px;
    border-radius: 15px;
    background: rgb(68, 68, 68, 0.5);
    margin-bottom: 21px;
}

#container_paragraphs .paragraph.edit_mode {
    display: flex;
}

.paragraph_image_video {
    float: right;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.paragraph_image_video .paragraph_image {
    align-self: center;
    width: 136px;
    height: 128px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.paragraph_image_video .paragraph_video {
    align-self: center;
    width: 277px;
    height: 128px;
    border-radius: 15px;
}

.paragraph_image_video .paragraph_image.edit_mode {
    width: 100px;
    height: 100px;
}

.paragraph_image_video .paragraph_video.edit_mode {
    width: 128px;
    height: 100px;
}

#container_paragraphs .paragraph p {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    margin-top: 50px;
}

#container_paragraphs .paragraph > textarea {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    margin-top: 50px;
    text-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    min-height: 90px;
    overflow: hidden;
    resize: none;
}

#container_paragraphs .paragraph_title_and_status {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4px;
}

#container_paragraphs .paragraph_title_and_status h2 {
    margin: 0px;
    color: #FFF;
    font-family: Lora;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#container_paragraphs .paragraph_title_and_status > input {
    color: #000;
    margin: 0px;
    font-family: Lora;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#container_paragraphs .paragraph_title_and_status .status {
    background-color: rgba(32, 203, 152, 0.5);
    opacity: 0.5;
    align-self: flex-end;
    width: 89px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

#container_paragraphs .paragraph_title_and_status .pending {
    background-color: rgb(255, 193, 7, 0.5);
}

.paragraph_title_and_status .paragraph_approve_and_delete {
    align-self: flex-end;
}

.paragraph_title_and_status .paragraph_approve_and_delete img{
    align-self: flex-end;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#object_adder {
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.500);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    order: 9999;
}

#container_paragraphs #object_adder {
    flex-basis: 112px;
}

#object_adder img {
    width: 48px;
    height: 48px;
}

#collaboration_assets {
    max-width: 576px;
    border-radius: 15px;
    min-height: calc(100vh - 96px);
    background-color: rgb(68, 68, 68, 0.5);
    padding: 6px 16px;
}

.col-lg {
    display: flex;
    justify-content: center;
}

#collaboration_assets > h2 {
    color: #FFF;
    text-align: center;
    font-family: Lora;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}

#collaboration_assets #container_images {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#container_ai_readability_and_edit_logs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container_ai_readability_and_edit_logs #ai_readability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    margin-bottom: 5px;
}

.circular_progress_bar {
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.circular_progress_bar span {
    color: #FFF;
    text-align: center;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#edit_logs {
    max-width: 244px;
    margin-top: 24px;
}

#edit_logs h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

#edit_logs section {
    height: 32px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 3px;
}

#edit_logs section img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

#edit_logs section span {
    color: #444;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#addParagraphModal .modal-header {
    display: flex;
    justify-content:  center;
}

#addParagraphModal .modal-body {
    display: flex;
    flex-direction: column;
}

#addParagraphModalLabel {
    color: #000;
    font-family: Lora;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modal-body .paragraph_type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 113px;
    border-radius: 15px;
    background-color: #444;
    margin-bottom: 15px;
    padding: 12px 15px;
    cursor: pointer;
}

.modal-body .paragraph_type:last-child {
    margin-bottom: 0px;
}

.paragraph_type .paragraph_type_text {
    width: 90%;
}

.paragraph_type .paragraph_type_text span {
    color: #FFF;
    cursor: pointer;
    vertical-align: baseline;
    margin-right: 10px;
}

.paragraph_type .paragraph_type_image {
    width: 90px;
    height: 90px;
}

.paragraph_type .paragraph_type_video {
    height: 90px;
    width: 126px;
}

.paragraph_container_image_video .paragraph_type_video {
    margin-left: 10px;
}

.paragraph_container_image_video {
    display: flex;
    justify-content: center;
}

#wrapper h1 {
    color: #FFF;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 16px;
}

#wrapper > h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#search_bar_container {
    display: flex;
    margin-bottom: 16px;
    align-items: baseline;
}

#search_bar_container > img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    cursor: pointer;
}

#search_bar_container > section {
    display: flex;
    justify-content: space-between;
    max-width: 290px;
    min-width: 218px;
    height: 34px;
    padding: 5px;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 10px;
}

#search_bar_container > section input {
    border: none;
    outline: none;
    width: 95%;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#search_bar_container > section img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

#collaboration_cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;
}

#collaboration_cards_container #object_adder {
    flex-basis: 290px;
    min-height: 192px;
    min-width: 218px;
}

.collaboration_card {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    min-width: 218px;
    min-height: 192px;
    border-radius: 15px;
    background-color: #FFF;
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    flex-basis: 290px;
}

.collaboration_card > section {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.collaboration_card > section:first-child, .collaboration_card > section:last-child{
    justify-content: space-between;
}

.collaboration_card > section:nth-last-child(2){
    margin-top: auto;
}

.collaboration_card section section {
    display: flex;
    align-items: center;
    gap: 4px;
}

.collaboration_card h2 {
    color: #000;
    font-family: Lora;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 198px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collaboration_card > section:first-child img {
    width: 28px;
    height: 28px;
}

.collaboration_card img {
    width: 16px;
    height: 16px;
}

.collaboration_card section span:nth-child(2) {
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collaboration_card p, .collaboration_card section span:not(:nth-child(2)) {
    color: #23232380;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collaboration_card p{
    color: #000;
    margin-top: 8px;
    padding-right: 32px;
}

.collaboration_card .circular_progress_bar {
    width: 24px;
    height: 24px;
    background:
        radial-gradient(closest-side, #FFF 79%, transparent 80% 100%),
        conic-gradient(from 270deg,#FD7E14 0%, #FD7E14 50%, #FFF 50%);
}

.collaboration_card .circular_progress_bar span {
    color: #000 !important;
    font-size: 12px !important;
    text-align: center !important;
    font-family: Lora !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

#deleteCollaborationModal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #FFF;
    border-radius: 15px;
    color: #000;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#deleteCollaborationModal .modal-footer {
    display: flex;
    justify-content: space-around;
}

#deleteCollaborationModal .modal-footer button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #444444;
    stroke: #000000;
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#deleteCollaborationButton {
    background-color: #DC3545 !important;
}

#cardInformationModal .modal-body img {
    width: 100%;
    height: 100%;
}

#card_carousel_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 240px;
}

#left_card_carousel, #right_card_carousel {
    max-width: 218px;
    min-width: 218px;
    min-height: 144px;
    max-height: 144px;
    flex-basis: 218px;
}

#left_card_carousel .collaboration_card, #right_card_carousel .collaboration_card {
    max-width: 210px;
    min-width: 210px;
    min-height: 144px;
    flex-basis: 210px;
    opacity: 0.75;
    cursor: default;
}

#middle_card_carousel {
    max-width: 290px;
    min-width: 290px;
    min-height: 192px;
    flex-basis: 290px;
}

#middle_card_carousel .collaboration_card {
    max-width: 282px;
    min-width: 282px;
    min-height: 192px;
    flex-basis: 282px;
}

#card_carousel_container .carousel-control-prev {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #FFF;
    opacity: 1;
    background-image: url("../images/arrow_left_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-size: 18px;
}

#card_carousel_container .carousel-control-next {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #FFF;
    opacity: 1;
    background-image: url("../images/arrow_right_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-size: 18px;
}

.input-group img {
    width: 60px;
    height: 48px;
}

#newCollaborationModal .modal-footer {
    display: flex;
    justify-content: space-around;
}

#newCollaborationModal .modal-footer button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #444444;
    stroke: #000000;
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#newCollaborationModal form > input {
    display: none;
}

#createCollaborationButton {
    background-color: #20CB98 !important;
}

#threshold {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

#threshold h2 {
    color: #FFF;
    font-family: Lora;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

#threshold img {
    width: 28px;
    height: 28px;
}

#brand_logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    right: 40px;
}

#milestones_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 148px;
    border-radius: 15px;
    background: #44444480;
    margin-bottom: 28px;
    padding: 16px;
    gap: 16px;
}

#milestones_container #object_adder {
    flex-basis: 64px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#milestones_container #object_adder img {
    flex-basis: 64px;
    width: 64px;
    height: 64px;
}

.brand_buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 10px;
}

.brand_approve_button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: #20C997;
    color: #FFF;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.brand_reject_button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: #DC3545;
    color: #FFF;
    font-family: Merriweather;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

}

#updateCollaborationStatusModal .modal-footer {
    display: flex;
    justify-content: space-around;
}

#updateCollaborationStatusModal .modal-footer button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #444444;
    stroke: #000000;
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#updateCollaborationStatusButton {
    background-color: #35addc !important;
}

#newBadgeModal .modal-footer {
    display: flex;
    justify-content: space-around;
}

#newBadgeModal .modal-footer button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #444444;
    stroke: #000000;
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#newBadgeModal form > input {
    display: none;
}

.badge_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFF;
    flex-basis: 64px;
}

.badge_card img {
    width: 48px;
    height: 48px;
}

/* media query */
@media screen and (max-width: 992px) {
    .row {
        display: block;
    }

    #top_bar {
        padding: 0px 16px;
    }

    #top_bar nav {
        display: none;
    }

    #user_details_image {
        margin-right: 0px;
    }

    #responsive_top_bar {
        display: flex;
    }

    #user_details section {
        display: none;
    }

    #breadCrumb {
        display: none;
    }

    #container_paragraphs .paragraph_title_and_status > input {
        max-width: 150px;
    }

    .paragraph_type .paragraph_type_image {
        width: 60px;
        height: 60px;
    }

    .paragraph_type .paragraph_type_video {
        height: 60px;
        width: 84px;
    }

    .paragraph_image_video{
        margin-top: 50px;
    }

    .paragraph_image_video .paragraph_image {
        width: 91px;
        height: 86px;
    }

    .paragraph_image_video .paragraph_video {
        width: 200px;
        height: 171px;
    }
    .paragraph_type .paragraph_type_text span {
        font-size: 10px;
    }

    #wrapper {
        margin: 0 16px;
        min-height: calc(100vh - 104px);
    }

    #wrapper .containerr .col-auto:not(:first-child) {
        display: none;
    }

    #left_card_carousel, #right_card_carousel {
        display: none;
    }

    #middle_card_carousel {
        max-width: 520px;
        min-width: 192px;
        min-height: 192px;
        flex-basis: 520px;
    }

    #middle_card_carousel .collaboration_card{
        max-width: 520px;
        min-width: 192px;
        min-height: 192px;
        flex-basis: 512px;
    }

    #brand_logo {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 132px;
        right: 16px;
    }
}

@media screen and (max-width: 370px) {
    .paragraph_container_image_video {
        flex-wrap: wrap;
    }

    .paragraph_container_image_video .paragraph_type_video {
        margin-left: 0px;
    }

    #container_object_details section #collaboration_title {
        font-size: 26px;
    }

    #container_paragraphs .paragraph_title_and_status {
        gap: 5px;
        margin-bottom: 8px;
    }

    #container_object_details section img {
        width: 25px;
        height: 25px;
    }

    #container_object_details #collaboration_status {
        font-size: 10px;
    }

    #container_object_details #collaboration_upvotes_downvotes span {
        font-size: 10px;
    }

    #container_object_details .progress {
        height: 10px;
    }

    #container_object_details .progress .progress-bar {
        font-size: 10px;
    }

    #container_edit_mode img {
        width: 20px;
        height: 20px;
    }

    #container_paragraphs .paragraph_title_and_status h2 {
        font-size: 16px;
    }

    #container_paragraphs .paragraph_title_and_status > input {
        max-width: 100px;
        font-size: 20px;
    }

    .paragraph_title_and_status .paragraph_approve_and_delete img {
        width: 20px;
        height: 20px;
    }

    #container_paragraphs .paragraph > textarea {
        font-size: 10px;
    }

    #container_paragraphs .paragraph_title_and_status section {
        font-size: 8px;
        width: 60px;
    }

    #container_paragraphs .paragraph p {
        font-size: 10px;
        margin-top: 30px;
    }

    .paragraph_image_video {
        margin-top: 30px;
    }

    .paragraph_image_video .paragraph_image.edit_mode {
        width: 50px;
        height: 50px;
    }

    .paragraph_image_video .paragraph_video.edit_mode {
        width: 64px;
        height: 50px;
    }

    .paragraph_image_video .paragraph_image {
        width: 50px;
        height: 50px;
    }

    .paragraph_image_video .paragraph_video {
        width: 150px;
        height: 100px;
    }
}